<div class="fetured_product">
        
    <div class="zagol"><h1>Our</h1><h2>Products</h2></div>
    <img src="assets/liff_1.png" alt="" class="liff_1">
    <div class="f_p_title">
        <p>Orders that people from all over the world buy from us most often</p>
    </div>    

    <div class="f_p_table">
        <div *ngFor="let tent of TentList">
            <div class="f_p_content">
                <div class="img_container">
                    <img src="{{tent.img}}" alt="">
                </div>
                <p>{{tent.name}}</p>
                <div class="A_rate">
                    <h3>{{tent.rate}}</h3>
                    <img src="assets/star+.png" alt="">
                </div>
                <h2>{{tent.price}} kg</h2>
                <p class="description">{{tent.description}}</p>
                <button class="buy">Add to Cart</button>
            </div>
        </div>
    </div>

</div>
