<div class="main">
  <p-galleria
    [value]="images"
    [numVisible]="5"
    [circular]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
  >
    <ng-template pTemplate="item" let-item>
      <img [src]="item.previewImageSrc" style="width: 82%; max-height: 30%" />
    </ng-template>
  </p-galleria>
  <div class="main_info">
    <div class="main_title">
      <span class="text-5xl text-primary font-bold mb-3"
        >Release your emotions through creativity</span
      >
    </div>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum velit
      eveniet non quisquam quia dolorum excepturi ipsum, molestias ab delectus
      commodi. Nemo et, aperiam neque odit quam tempore sapiente quaerat.
    </p>
    <div class="main_btn">
      <p-button
        icon="pi pi-cart-plus"
        label="Buy"
        type=""
        class="p-button-rounded"
        styleClass="p-button-lg"
      ></p-button>
    </div>
  </div>
</div>
