<div class="cart">
  <div *ngFor="let g of guitar" class="product-item my-4 mx-4">
    <div class="image-container">
      <img src="{{ g.photo }}" alt="{{ g.name }}" />
    </div>
    <div class="product-list-detail">
      <h5 class="mb-2">{{ g.name }}</h5>
      <i class="pi pi-tag product-category-icon"></i>
      <span class="product-category">{{ g.category }}</span>
    </div>
    <div class="product-list-action mr-8">
      <h6 class="mb-2">${{ g.price }}</h6>
      <span
        [class]="'product-badge status-' + g.inventoryStatus.toLowerCase()"
        >{{ g.inventoryStatus }}</span
      >
    </div>
  </div>
</div>
<div class="mt-5 text-green-300 font-bold flex justify-center">
  <h2>Total: ${{ price }}</h2>
</div>
<div class="flex justify-center ml-5 mt-5">
  <button
    pButton
    pRipple
    type=""
    label="Buy"
    class="mr-5"
    (click)="onBuy()"
    icon="pi pi-shopping-cart"
  ></button>
</div>
<p-messages></p-messages>
