<div class="research">
    <div class="res_box">
        <div class="res">
            <img src="assets/icon_1.png" alt="">
            <div id="res1"></div>
            <p>Top Brands</p>
        </div>
        <div class="res">
            <img src="assets/icon_2.png" alt="">
            <div id="res2"></div>
            <p>Loyal Users</p>
        </div>
        <div class="res">
            <img src="assets/icon_3.png" alt="">
            <div id="res3"></div>
            <p>Trand Brands</p>
        </div>
        <div class="res">
            <img src="assets/icon_4.png" alt="">
            <div id="res4"></div>
            <p>Awards Won</p>
        </div>
    </div>
</div>


<div class="partners">
    <img src="assets/brand_1.png" alt="">
    <img src="assets/brand_2.png" alt="">
    <img src="assets/brand_3.png" alt="">
    <img src="assets/brand_4.png" alt="">
    <img src="assets/brand_5.png" alt="">
    <img src="assets/brand_6.png" alt="">
    <img src="assets/brand_7.png" alt="">
</div>
