.title {
    display: flex;
    flex-wrap: wrap;
    gap: 40%;
    color: #fff;
    margin-top: -16px;
    height: 150px;
    background-color: #121215;
}
.title > p {
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 2px;
    padding-left: 500px;
    text-transform: uppercase;
}
.title > div {
    padding-top: 80px;
    font-size: 20px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;  
    gap: 10px;  
}
.title > div > p {
    margin: 0;
    color: #7d8791;;
}
.title > div > a {
    text-decoration: none;
    color: #fff;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.title > div > a:hover {
    letter-spacing: 1px;
    color: #e0a80d;;
}