<div class="footer">
  <div>
    <button
      pButton
      pRipple
      type=""
      icon="pi pi-github"
      class="p-button-rounded p-button-secondary"
      [ngStyle]="{
        backgroundColor: 'var(--indigo-800)',
        borderColor: 'var(--indigo-800)'
      }"
    ></button>
    <button
      pButton
      pRipple
      type=""
      icon="pi pi-instagram"
      class="p-button-rounded p-button-secondary"
      [ngStyle]="{
        backgroundColor: 'var(--red-500)',
        borderColor: 'var(--red-500)'
      }"
    ></button>
    <button
      pButton
      pRipple
      type=""
      icon="pi pi-facebook"
      class="p-button-rounded p-button-secondary"
      [ngStyle]="{
        backgroundColor: 'var(--blue-500)',
        borderColor: 'var(--blue-500)'
      }"
    ></button>
  </div>
  <div>
    <p>© 2023 Copyright: MIT-21</p>
  </div>
</div>
