<div class="surface-section px-4 py-28 md:px-6 lg:px-8">
  <div class="text-700 text-center">
    <div class="text-green-600 font-bold mb-3">
      <i class="pi pi-github"></i>&nbsp;POWERED BY GITHUB
    </div>
    <div class="text-900 font-bold text-5xl mb-3">View more on GitHub</div>
    <div class="text-700 text-2xl mb-5">
      Look more interesting project on our GitHub to find something that you
      want
    </div>
    <button
      pButton
      pRipple
      icon="pi pi-github"
      class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
    >
      <a href="https://github.com/DenisRudiy/dp2023" class="px-6">View</a>
    </button>
  </div>
</div>
