.fetured_product {
    height: 1100px;
}
.zagol {
    padding-left: 37%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 180px;
}
.zagol > h1 {
    font-size: 80px;
    font-weight: 900;
}
.zagol > h2 {
    margin-top: 55px;
    font-size: 80px;
    font-weight: 100;
}
.liff_1 {
    width: 30px;
    height: auto;
    padding-left: 50%;
}
.f_p_title { 
    padding-left: 40%;
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
    width: 400px;
}

.f_p_table {
    margin-left: 250px;
    margin-right: 250px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}
.f_p_content { 
    height: 570px;
    width: 348px;
    border: 1px solid #a4a9ae;
}

.f_p_content > button {
    margin-left: 100px;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    border: 3px solid #fff;
    background-color: #fea526;
    color: #fff;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;

    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.f_p_content > button:hover {
    background-color: #9c681f;
}

.f_p_content > img { 
    cursor: pointer;
    padding-left: 50px;
    width: 250px;
    height: auto;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.f_p_content > img:hover{
     transform: scale(1.15);
}

.f_p_content > p {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 20px;
}
.f_p_content > h2 {
    color: #1d1e23;
    padding-left: 44%;
}

.rate {
    display: flex;
    flex-wrap: wrap;
    padding-left: 130px;
    padding-top: 10px;
}

.rate > img {
    width: 20px;
    height: auto;
}