<div class="fetured_product">
        
    <div class="zagol"><h1>Featured</h1><h2>Product</h2></div>
    <img src="assets/liff_1.png" alt="" class="liff_1">
    <div class="f_p_title">
        <p>Orders that people from all over the world buy from us most often</p>
    </div>

    <div class="f_p_table">
        <div class="f_p_content">
            <img src="assets/p_1.png" alt="">
            <p>Tent High Peak Nevada 4 (Dark Grey/Red), 4-person</p>
            <div class="rate">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
            </div>
            <h2>5 kg</h2>
            <button class="buy">Add to Cart</button>
        </div>
        <div class="f_p_content">
            <img src="assets/p_2.png" alt="">
            <p>Tent Tramp TRT-126 Ranger 3 V2 (Green/Yellow), 3-seater</p>
            <div class="rate">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
            </div>
            <h2>5.5 kg</h2>
            <button class="buy">Add to Cart</button>
        </div>
        <div class="f_p_content">
            <img src="assets/p_3.png" alt="">
            <p>Highlander Blackthorn 2 tent (HMTC), 2-person</p>
            <div class="rate">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star-.png" alt="">
            </div>
            <h2>4.2 kg</h2>
            <button class="buy">Add to Cart</button>
        </div>
        <div class="f_p_content">
            <img src="assets/p_4.png" alt="">
            <p>Tent Easy Camp Blazar 300 (Rustic Green), 3-seater</p>
            <div class="rate">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star+.png" alt="">
                <img src="assets/star-.png" alt="">
            </div>
            <h2>7 kg</h2>
            <button class="buy">Add to Cart</button>
        </div>
    </div>

</div>
