<div class="main">
    <img src="../../assets/Main_Photo.png" alt="">
    <h1>Tent</h1>
    <h6>Army USB tent - 56</h6>
    <h2>50 kg</h2>

    <button class="m_buy"><a href="prod.html">See Now</a></button>
    <div class="main_table">
        <div>
            <img src="../../assets/icons8-menu-60.png" alt="">
            <h1>Categories</h1>
        </div>
        <button><a>Brand</a></button>
        <button><a>Appointment</a></button>
        <button><a>Season</a></button>
        <button><a>Form</a></button>
        <button><a>Number of seats</a></button>
    </div>
</div>  