<div class="flex justify-center">
  <h2 class="font-bold">Add New Guitar</h2>
</div>

<form #guitarForm="ngForm">
  <div class="flex flex-wrap justify-center">
    <div>
      <div class="form">
        <div class="input">
          <span class="p-inputgroup-addon"><i class="pi pi-prime"></i></span>
          <input
            type="text"
            pInputText
            placeholder="Name"
            [(ngModel)]="new_guitar.name"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="input">
          <span class="p-inputgroup-addon">$</span>
          <input
            type="text"
            pInputText
            placeholder="Price"
            [(ngModel)]="new_guitar.price"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>

      <div class="form">
        <div class="input">
          <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
          <input
            type="text"
            pInputText
            placeholder="Category"
            [(ngModel)]="new_guitar.category"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="input">
          <div>
            <span class="p-inputgroup-addon"
              ><i class="pi pi-align-left"></i
            ></span>
            <input
              type="text"
              pInputText
              placeholder="Description"
              [(ngModel)]="new_guitar.description"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
      </div>
      <div class="form">
        <div class="input">
          <div>
            <span class="p-inputgroup-addon"
              ><i class="pi pi-star-fill"></i
            ></span>
            <input
              type="text"
              pInputText
              placeholder="Rate"
              [(ngModel)]="new_guitar.rate"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>

        <div class="input">
          <div>
            <span class="p-inputgroup-addon"
              ><i class="pi pi-chart-bar"></i
            ></span>
            <input
              type="text"
              pInputText
              placeholder="Status"
              [(ngModel)]="new_guitar.inventoryStatus"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="input_img">
      <div>
        <span class="p-inputgroup-addon"><i class="pi pi-image"></i></span>
        <input
          type="text"
          pInputText
          placeholder="Photo"
          [(ngModel)]="new_guitar.photo"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
  </div>

  <div>
    <div class="flex justify-center pt-5">
      <p-button
        icon="pi pi-plus-circle"
        type=""
        label="Add item"
        styleClass="p-button-sm"
        class="text-zinc-50"
        (onClick)="onAdd()"
      ></p-button>
    </div>
  </div>
</form>
<p-messages></p-messages>
