body { 
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@mixin size($size) {
    @if $size == smallest   {
        @media (max-width: 498px) { @content; }
    }@else if $size == size-laptop  {
        @media (min-width: 1520px) { @content; }
    } @else if $size == size-3  {
        @media (min-width: 1600px) { @content; }
    }  @else if $size == size-2 {
        @media (min-width: 1900px) { @content; }
    } @else if $size == size-1  {
        @media (min-width: 2600px) { @content; }
    }
}
html{
    overflow-x: hidden;
}
