<form class="edit-form">
    <div class="small_fields">
        <div class="group">      
            <input type="text" #box (keyup)="getName(box.value)" name="name" required class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Change Name</label>
        </div>
        <div class="group">      
            <input type="text" #img (keyup)="getImg(img.value)" name="img" required class="input">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Change Img</label>
        </div>
    </div>
    
    <div class="small_fields">
        <form #f="ngForm" (keyup)="getPrice(f)">
            <div class="group">      
                <input type="number" name="price" ngModel  required class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Change Price</label>
            </div>
        </form>
        <form #w="ngForm" (keyup)="getRate(w)">
            <div class="group">      
                <input type="number" name="rate" ngModel required class="input">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Change Rate</label>
            </div>
        </form>
    </div>
    
    <div class="group">      
        <input type="text" #desc (keyup)="getDescription(desc.value)" name="description" required class="Description">
        <label>Change Description</label>
    </div>
</form>

<button (click)="OnClick()" class="Send" >Click Me</button>


